<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create" class="active" >Create Users</a>
    </div>

    <div class="wrap-form">
        <form action="/create-user" method="post" class="form"> 
            <fieldset>
                <legend>Add user</legend>
                <div>
                    <label for="username">Email:</label>
                    <input type="text" name="email" id="email">
                </div>
                <div>
                    <label for="username">Name</label>
                    <input type="text" name="username" id="usename">
                </div>
                <div>
                    <label for="city">City</label>
                    <input type="text" name="city" id="city">
                </div>
                <button type="submit">Add</button>
            </fieldset>
        </form>
    </div>
</body>
</html>